
.chest-list {
  border: 2px solid rgb(213, 214, 203);
  width: 100%;
  cursor: pointer;
  opacity: 1;
  display: grid; /* Изменение свойства display на grid */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Задание колонок с автоматическим переносом */
  gap: 10px; /* Отступ между блоками */
  justify-content: center;
  margin: 0px 0px 50px 0px;
}


.chest-list-boxes {
  margin: 10px;
  border: 2px solid rgb(66, 66, 65);
  display: block; /* Измените "inline-block" на "block" */
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  
}

.chest-list-boxes-selected {
  margin: 15px;
  border: 2px solid rgb(67, 184, 21);
  display: block; /* Измените "inline-block" на "block" */
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}



.chest-list-boxes img {
    margin: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(42, 69, 190);
}

.chest-list-boxes-selected img {
    margin: 5px;
    border: 2px solid rgb(42, 69, 190);
    width: 30px;
    height: 30px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
  
}

@media screen and (max-width: 820px) {
  body {
    zoom: 80%;
  }
}